// INNER TEXT
//------------------------------------------------
//------------------------------------------------
.inner-text {
    position: relative;
    // margin-bottom: 120px;

    .why-scala-button {
        margin-bottom: -50px;
    }

    h1.tagline {
        font-family: $base-font-family;
        font-size: 2.2rem;
        font-weight: $font-black;
        color: #fff;
        margin-bottom: $padding-small;
    }

    p {
        font-size: 1.25rem;
        color: #fff;
        margin-bottom: $padding-medium;
    }
    @include span-columns(6);
    @include bp(large) {
        @include span-columns(12);

        h1 {
            font-size: 1.8rem;
            margin: 0 0 ($padding-medium / 2) 0;
        }
    }
}
