// INNER TEXT
//------------------------------------------------
//------------------------------------------------

.hero-font {
    font-family: $hero-font-family;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.with-hero-logo {
    &:before {
        content: '';
        background-image: url('/resources/img/frontpage/scala-logo-solo-white.svg');
        background-size: cover;
        width: 65px;
        height: 100px;
        position: relative;
        display: inline-block;
        top: 22px;
        right: 4px;
    }
}

.col-lg-6 {
    .inner-text {

        h1 {
            margin-bottom: 20px;
            font-size: 5.2rem;
        }

        h2 {
            font-family: $base-font-family;
            font-size: min(max(1.6vw, 1.2rem), 1.31rem);
            line-height: min(max(1.5vw, 2rem), 2.15rem);
            color: #fff;
            margin-bottom: $padding-medium;
        }

        @include bp(large) {
            .button {
                margin-bottom: 3px;
            }

            h2 {
                font-size: 1.4rem;
            }
        }
    }
}

.frontpage-hero-logo {
    width: 220px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: $padding-medium;
}
