// SCALA-IN-ACTION
//------------------------------------------------
//------------------------------------------------

.scala-in-action {

    .scala-in-action-content {
        // background: $gray-dark;
        transition: $base-transition;

        .alt-details {
            margin: 0px 10px;

            button.alt-details-toggle {
                @include span-columns(12);
                border: 1px solid darken($gray-light, 5%);
                background-color: lighten($gray-lighter, 2%);
                padding: 5px 10px;
                border-radius: 15px;
                font-size: $font-size-medium;
                cursor: pointer;
                text-align: left;

                &:hover {
                    background-color: lighten($gray-lighter, 5%);
                }
            }
        }

        .scala-in-action-code {
            // display: none;
            // background: $gray-dark;
            padding: 20px 0;

            .wrap {
                margin-bottom: 0px;
            }

            .snippet {
                position: relative;
                margin: 10px 0px;
                cursor: default;

                &:hover {
                    .buttons {
                        opacity: 0.95;

                        &:active {
                            opacity: 0.3;
                        }
                    }
                }

                .buttons {
                    position: absolute;
                    right: 4px;
                    top: 5px;
                    transition: all .2s ease;
                    display: flex;
                    opacity: 0;
                    flex-direction: row-reverse;
                    justify-content: flex-start;

                    button {
                        outline: none;
                        background: #fff;
                        border: none;
                        font-size: $font-size-medium;
                        color: rgba($gray, .6);
                        cursor: pointer;

                        i {
                            font-weight: $font-bold;
                        }
                    }
                }
            }

            .scala-code {

                @include span-columns(7);

                @include bp(large) {
                    @include span-columns(12);
                }
            }

            .scala-text {

                details {
                    summary {

                        &:hover {
                            background-color: lighten($gray-lighter, 5%);
                        }
                    }

                    summary>* {
                        display: inline;
                    }
                }

                code {
                    padding: 2px 8px;
                    color: #859900;
                    background-color: #fff;
                }

                .snippet {
                    pre.snippet-code {
                        margin: 0px;
                        overflow-x: auto;
                        display: block;

                        code {
                            display: block;
                            border: 1px solid darken($gray-light, 10%);
                        }
                    }
                }

                @include span-columns(5);

                @include bp(large) {
                    @include span-columns(12);
                }

                h3 {
                    font-size: 1.625rem;
                    color: #fff;
                    margin-bottom: 20px;
                }

                p {
                    color: $base-font-color;
                }

                &.scala-text-large {
                    @include span-columns(12);
                }
            }
        }
    }
}
